<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/main.css">
    <title>HouseCom ThermoSecurity System</title>
</head>
<body>
<main class="wrapper">
<header class="mainHeader">
    <img src="public/images/logo-full-black" alt="header_logo" class="headerLogo">
</header>
    <h1>Please Working!!!!!!</h1>
    <h2>Why!!!!!</h2>
    <div>
    {{!-- <h1> {{{ test }}} </h1> --}}
    </div>
    {{!-- Footer Start Here --}}
    <footer class="mainFooter">
        <img src="public/images/logo-full-black" alt="footer_logo" class="footerLogo">
        <div class="socialIcons">
            <img src="public/images/social-facebook.svg" alt="facebook">
            <img src="public/images/social-instagram.svg" alt="instagram">
            <img src="public/images/social-twitter.svg" alt="twitter">
            <img src="public/images/social-youtube.svg" alt="youtube">
        </div>
    </footer>
</main>
<script src="public/js/main.js"></script>
</body>
</html>